<strong>Olá, {{ deliveryman}}</strong>
<p>Sua entrega foi Cancelada, veja mais detalhes abaixo: </p>
<p>
    <strong>Entrega: </strong> {{id}} <br/>
    <strong>Motivo do Cancelamento: </strong> {{delivery}} <br/>

    <strong>Destinatário: </strong> {{recipient}} <br/>

    <strong>Produto: </strong> {{product}} <br/> <br/>




    <small>
        Consulte as novas entregas disponiveis.
    </small>
</p>
